<nz-layout style="height: 100%">

      <nz-row >

            <div nz-col nzSpan="6">

                <div class="menu">
                  <div>
                      <img src="/assets/img/TaurusLogo.png" alt="Taurus-logo" height="80" width="320">
                  </div>
                    <a [routerLink]="['issueToken']" routerLinkActive="active">
                      <i class="fa fa-plus"></i>
                      <h3>Issue Token</h3>
                    </a>
                    <a [routerLink]="['tokenList']" routerLinkActive="active">
                      <i class="fa fa-bars"></i>
                      <h3>Token List</h3>
                    </a>
                </div>

            </div>

            <div nz-col nzSpan="18">

                      <router-outlet></router-outlet>


            </div>

      </nz-row>

</nz-layout>
