@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.header h1{
  color: black;
  margin-left: 10px;
  font-size: 16px;
  font-style: italic
}

.searchBar input{
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}
.searchBar .fa-search{

  position: absolute;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.content{
  height: 1200px;
  background-color: lightslategray;
  overflow-X:hidden
}

.content button{
margin-left:10px;

}
.gridData {
  margin-top: 15px;
  margin-left:10px;
  width: 800px;
}


.gridAction .fa-trash-o{
  color: cadetblue;

}

 .pagination {

  position: relative;
  top: 200px;
  left: 600px;
 }
